uname
{
color : black ;
font-family : copperplate Gothic Light ;
font-style : bold ;
font-size : 16 pts;
}
city,rank
{
color : yellow ;
font-family : Arial ;
font-style : bold ;
font-size : 12 pts;
}