<web-app>
	<servlet>
		<servlet-name>aaaaa</servlet-name>
		<servlet-class>ServletSession	</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aaaaa</servlet-name>
		<url-pattern>/key</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bbbb</servlet-name>
		<servlet-class>NewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bbbb</servlet-name>
		<url-pattern>/key1</url-pattern>
	</servlet-mapping>
</web-app>

